.email-list-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.email-list-input-container .selected-email-list {
  border-radius: 5px;
  padding: 7px 10px;
  border-style: solid;
  width: 350px;
  border: 1px solid white;
  outline: none;
  background: white;
  position: relative;
  display: inherit;
  flex-wrap: wrap;
  min-height: 30px;
}
.email-list-input-container .selected-email-list .selected-email {
  position: relative;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 3px;
  margin: auto 3px auto 0;
}
.email-list-input-container .selected-email-list .selected-email .fa-times {
  visibility: hidden;
  margin: auto 2px auto 6px;
  position: relative;
}
.email-list-input-container .selected-email-list .selected-email:hover {
  background-color: #ebebeb;
}
.email-list-input-container .selected-email-list .selected-email:hover .fa-times {
  visibility: visible;
}
.email-list-input-container .email-list-input {
  border-style: solid;
  border: none;
  outline: none;
  position: relative;
  background: transparent;
}
.email-list-input-container .email-list-input-error-wrap {
  background: #f3b7bd;
  padding: 5px 7px;
  position: relative;
  border-radius: 3px;
}
.email-list-input-container .email-list-input-error-wrap .email-list-input-error {
  background: #f3b7bd;
  font-weight: bold;
}
.email-list-input-container .email-list-input-error-wrap .fa-exclamation-circle {
  color: #f1515f;
  font-size: 12px;
  margin: 1px 4px;
}
.email-list-input-container .email-list-suggestions {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  height: 150px;
  width: 310px;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 2px 2px 6px 0px rgba(99, 99, 99, 0.51);
  position: absolute;
  top: 90%;
  padding: 0;
  margin: 0;
}
.email-list-input-container .email-list-suggestions .email-list-suggestion {
  border-bottom: grey;
  padding: 5px 10px;
}
.email-list-input-container .email-list-suggestions .email-list-suggestion:hover, .email-list-input-container .email-list-suggestions .email-list-suggestion:focus {
  background-color: #eff5f9;
  cursor: pointer;
  outline: none;
}
.email-list-input-container .email-list-bottom-blur {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  box-shadow: inset 0 -25px 10px -10px #ffffff;
  z-index: 1;
}
